@font-face {font-family: 'California Sun Italic';src: url('./california_sun_italic-webfont.woff2') format('woff2'), url('./california_sun_italic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}

@font-face {font-family: 'California Sun';src: url('./california_sun-webfont.woff2') format('woff2'), url('./california_sun-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
