.rossopost_main{
    position: relative;
    width: 500px;
    height: auto;
}
.rossopost_main a{
    text-decoration: none;
}
.lechead_intro{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.lechead_icon{
    width: 50px;
    text-align: center;
    line-height: 45px;
}
.lehead_icon > i{
vertical-align: middle;
}
.lechead_icon svg{
    margin: 12px;
}
.lechead_text{
    align-self: center;
    line-height: 1.3;
    color: #E3E2E2;
    font-size: 8px;
    text-align: end;
    text-transform: uppercase;
    padding: 18px 20px;
}
.lecheader_img{
    width: 500px;
    height: 250px;
    background-size: cover;
    background-blend-mode: multiply;
}
.lectitle_main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: -150px 25px 0px 25px;
}
.lectitle_img{
    width: 200px;
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}
.lechapter{
    flex-basis: 55%;
}
.lectitle_ch{
    margin: -10px 0px 0px -175px;
    font-size: 52pt;
    line-height: 0.75;
    text-transform: uppercase;
}
.lectitle_text{
    max-height: 135px;
    margin: 10px 0px 10px -33px;
    padding: 0px 15px;
    text-align: start;
    color:#E3E2E2;
    font-size: 18pt;
    line-height: 1.4;
    text-transform: uppercase;
    overflow: hidden;
}
.lectitle_data{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    align-content: flex-end;
    gap: 5px;
    padding-top: 10px;
}
.lecdata {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 5px;
    font-size: 7pt;
    text-transform: uppercase;
}
.lecdata_icon {
    width: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #E3E2E2;
    padding:3px 5px;
}
.lec_description{
    width: 410px;
    height: 400px;
    background-color: #000000;
    margin: 10px auto;
    padding: 20px;
    font-size: 10pt;
    color:#E3E2E2;
    line-height: 1.3;
    text-align: justify;
    overflow-y: scroll;
}
.lec_description::-webkit-scrollbar {
    width: 10px;
    background-color: #100F0F;
}
.lec_description::-webkit-scrollbar-thumb {
    width: 5px;
    border: #100F0F 3px solid;
    border-radius: 1px;
}
.lec_description::-webkit-scrollbar-track {
    background: #000000;
}
.rosso_credits {
    font-family: "Montserrat";
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    font-size: 8px;
    text-transform: uppercase;
    margin-top: 25px;
}
.credit_icon {
    font-weight: bold;
    font-size: 14px;
    color: #E3E2E2;
    padding:10px;
    text-align: center;
}
.credit_text{
    text-align: left;
}
