 @font-face {
     font-family: 'kh';
     src: url(https://cariad1441.github.io/code414/fonts/kh-icons-v1.0/fonts/kh-icons.ttf);
     }
@font-face {
    font-family: 'Kingdom Hearts';
    src: url(https://cariad1441.github.io/code414/fonts/kingdom_hearts/Kingdom_Hearts_Font.ttf);
}
.khlight-main{
    position: relative;
    width: 600px;
    border: 1px solid var(--lightgray);
    outline: 1px solid var(--lightgray);
    outline-offset: 3px;
    background-image: url(https://i.imgur.com/sQcGgrM.png);
    background-repeat: repeat-y;
}
.khlight-main a{
  text-decoration: none;
  color: var(--darkgray);
  transition: letter-spacing .2s
}
.khlight-main a:hover{
  transform: scale(1.5);
  color: var(--lightblue);
  letter-spacing: 1;
}
.khlight-header{
    height: 400px;
    position: relative;
    background-image: url(https://i.imgur.com/jNIftz2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.khlight-title > span{
    display: block;
    position: relative;
    background: linear-gradient(
        var(--darkblue),
        var(--lightblue)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: 'Kingdom Hearts';
    font-size: 72pt;
    text-align: center;
    margin-top: -200px;
    padding: 20px 150px;
    line-height: 0.7;
    letter-spacing: -3px;
    z-index: 1;
}
.khlight-title::before {
    position: absolute;
    inset: 0;
    color: transparent;
    font-family: 'Kingdom Hearts';
    font-size: 72pt;
    text-align: center;
    padding: 270px 150px 30px 150px;
    line-height: 0.7;
    letter-spacing: -3px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--lightgray);
    transform: translate(2px, 2px);
    opacity: 0.75;
    pointer-events: none;
    z-index: 0;
}
.khlight-separador{
    margin: 25px 150px;
}
.khlight-quote p{
    padding: 0 150px;
    font-family: 'Jura', sans-serif;
    font-size: 9pt;
    text-align: center;
    text-transform: uppercase;
}
.khlight-separador{
    display: flex;
    gap: 50px;
}
.khlight-separador hr{
    height: 0;
    flex-grow: 1;
    background-color: var(--lightgray);
}
.khlight-separador i{
    font-size: 12pt;
    color: var(--darkgray);
}
.khlight-quote p{
    margin: 25px 0;
    color: var(--darkgray);
}
.khlight-datos{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 0 55px;
}
.khlight-dato{
    display: flex;
    flex-grow: 1;
    border: 1px solid var(--lightgray);
    color: var(--darkgray);
    font-family: 'Jura', sans-serif;
    font-size: 8pt;
    text-transform: uppercase;
    background-color: white;
}
.khlight-dato-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    color: var(--darkgray);
    border-right: 1px solid var(--lightgray);
    padding: 5px;
}
.khlight-dato span{
    text-align: left;
    line-height: 1;
    align-self: center;
    padding: 5px;
}
.khlight_maintext{
    padding: 20px;
    margin: 20px 55px;
    border: 1px solid var(--lightgray);
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: 10pt;
    line-height: 1.3;
    text-align: justify;
    color: var(--darkgray);
    background-color: white;
}
.khlight-personajes{
    padding: 20px 50px;
}
.khlight-pj01, .khlight-pj02{
    display: flex;
    padding: 20px 33px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.khlight-pj02{
    flex-flow: row-reverse;
}
.khlight-pj01-portrait, .khlight-pj02-portrait{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.khlight-pj01 .kh-sora, .khlight-pj02, .kh-sora{
    font-size: 32pt;
    color: var(--yellow);
    margin: 0 auto;
}
.khlight-pj01-img, .khlight-pj02-img {
    width: 120px;
    height: 120px;
    border: 1px solid var(--lightgray);
    outline: 1px solid var(--lightgray);
    outline-offset: 3px;
    margin-top: 40px;
    transform: rotate(45deg);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.khlight-pj01-img img, .khlight-pj02-img img {
    width: 141.42%;
    height: 141.42%;
    position: absolute;
    top: -20.71%;
    left: -20.71%;
    object-fit: cover;
    transform: rotate(-45deg);
}
.khlight-pj01-info, .khlight-pj02-info{
    flex-grow: 2;
}
.khlight-name{
    display: block;
    position: relative;
    font-family: 'Kingdom Hearts';
    text-align: left;
    font-size: 55pt;
    line-height: 0.7;
    letter-spacing: -3px;
    background: linear-gradient(var(--lightgray), var(--darkgray));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}
.khlight-name-shadow{
    left: 0;
    right: 0;
    top: 2px;
    display: block;
    position: absolute;
    font-family: 'Kingdom Hearts';
    font-size: 55pt;
    line-height: 0.7;
    letter-spacing: -3px;
    color: transparent;
    opacity: 0.7;
    -webkit-text-stroke: 0.5px var(--lightgray);
    pointer-events: none;
    user-select: none;
    z-index: 0 !important;
}
.khlight-pj01-datos, .khlight-pj02-datos{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.khlight-pj01-datos .khlight-dato, .khlight-pj02-datos .khlight-dato{
  flex-basis: 47%;
}
.khlight-pj01-datos .khlight-dato i, .khlight-pj02-datos .khlight-dato i{
  color: var(--lightblue);
}
.khlight-crono{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 50px;
  gap: 10px;
  justify-content: space-between;
}
.khlight-crono-ch{
  flex-basis: 47%;
  border: 1px solid var(--lightgray);
  background-color: white;
}
.khlight-crono-ch-titulo{
  display: flex;
  color: var(--darkgray);
  gap: 10px;
  font-size: 10pt;
  border-bottom: 1px solid var(--lightgray);
}
.khlight-crono-icon{
  display: flex;
  border-right: 1px solid var(--lightgray); 
  padding: 5px;
}
.khlight-crono-icon i{
  align-self: center;
}
.khlight-crono-ch-titulo span{
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
    padding: 5px;
}
.khlight-crono-ch-description{
  max-height: 40px;
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 9pt;
  line-height: 1.3;
  text-align: justify;
  padding: 10px;
  color: var(--lightgray);
  overflow-y: auto;
}
.khlight-crono-ch-description {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #c0c0c0;
  --sb-size: 5px;
}
.khlight-crono-ch-description::-webkit-scrollbar {
  width: var(--sb-size);
}
.khlight-crono-ch-description::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

.khlight-crono-ch-description::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}
.khlightcredits{
    font-family: 'Montserrat', sans-serif;
    font-size: 8pt;
    text-align: center;
    color: var(--lightgray);
    padding: 10px;
}
.khlightcredits a{
    text-decoration: none;
    color: var(--lightblue);
}
